<style lang="less">
@import "../node_modules/uikit/src/less/uikit.less";
//@import "assets/svg/index.js";
@import "./App.less";
@import "./assets/styles/global_styles.less";
</style>

<template>
  <div v-if="(isAuthTokenSet && isAppReady)" id="app"
    :class="[(colorNav && 'purple') || (colorDashboard && 'blue') || (colorHome  && 'blue') || (colorScholar && 'green') || (colorNewScholar && 'green'), (pointerEventNone && 'pointer')]"
  >
    <header-comp @resetUpdateSiteName="updateDrillSiteName($event)" @updateCoreIds='validateToken' :headerToUpdate='headerToUpdate' :updateSiteName='updateSiteName'/>
    <error-popup  v-on:showErrorPopup="showErrorPopup($event)" :errorResponse="errorResponse" v-on:noAction="noAction($event)"></error-popup>
    <router-view :class="['mt-80', routeOn.subHeader && 'root-container']" id="rootContainer" v-on:showBlocker="showBlocker($event)"  :key="$route.path" :userDetails="{firstName, accountID, userLabel, progName, programId, siteId, programStartDate,programEndDate, sitePanels, roleId,siteDetailData}" :roleId="roleId" v-on:noAction="noAction($event)" @updateSiteAtApp="updateSite($event)" v-on:updateDrillSiteName="updateDrillSiteName($event)" />
    <footer-comp />
  </div>
</template>
<script>
// console.log("version---> admin-0.0.63.18");
import UIkit from "uikit";
import Icons from "uikit/dist/js/uikit-icons";
import "@/assets/fonts/montserrat-font.css";

import HeaderComponent from "@/commoncomponents/headercomponent/HeaderComponent.vue";
import FooterComponent from "@/commoncomponents/footercomponent/FooterComponent.vue";
import ErrorPopupComponent from "@/commoncomponents/errorpopupcomponent/ErrorPopUpComponent.vue"
import { writeData, clearAllData } from "@/utilities/idbUtility";
import APP_UTILITIES from "@/utilities/commonFunctions";
import APP_CONST from "@/constants/AppConst";
import programConfigureStore from '@/store/modules/programConfigure'
import { getUserById } from "@/services/userService/users-api";

UIkit.use(Icons);
export default {
  name: "App",
  components: {
    "header-comp": HeaderComponent,
    "footer-comp": FooterComponent,
    "error-popup" : ErrorPopupComponent
  },
  data() {
    return {
      isAuthTokenSet: false,
      isAppReady: false,
      colorNav: false,
      colorDashboard: false,
      colorHome: false,
      firstName: "",
      userLabel: "",
      progName: "",
      colorScholar:false,
      colorNewScholar:false,
      accountID: 0,
      programId: 0,
      siteId: 0,
      roleId: 0,
      sitePanels: [],
      programStartDate: '',
      programEndDate: '',
      routeOn: {title: '', returnTo: '', subHeader: false},
      errorResponse : {},
      pointerEventNone : false,
      siteDetailData : {},
      showStrip :false,
      headerToUpdate: false,
      updateSiteName : false
    };
  },
  created()
  {
    this.$eventHub.$on('showErrorPopup', this.showErrorPopup)
  },
  methods: {
    updateHeader(ev) {
      this.headerToUpdate = ev.updateHeader;
      this.validateToken();
    },
    showErrorPopup(error){
      if(error)
      {
        this.errorResponse = {
          name: error.name
        };
      }
    },
    showBlocker(flag){
      // console.log("flag <<< ", flag);
        // this.profileData = userData
    },
    updateDrillSiteName(event){
      this.updateSiteName = event
    },
    noAction(event){
      this.pointerEventNone = event;
    },
    updateSite(event){
      this.sitePanels.forEach((item) => {
        if(item.siteId === event.siteId){
          item.startDate = event.startDate
          item.endDate = event.endDate
        }
      })
    },
    getCookie: name => {
      var nameEQ = name + "=";
      var ca = document.cookie.split(";");
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == " ") c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    },
    setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    },
    checkForRole() {
       if (this.$route && this.$route.path.toLowerCase() === "/programplan") {
             this.colorNav = true;
           } else {
             this.colorNav = false;
           }
         if ((this.$route.path.toLowerCase() === "/home") && ((this.roleId === APP_CONST.FIVE) || (this.roleId === APP_CONST.SIX) || (this.roleId === APP_CONST.SEVEN))) {
           this.colorDashboard = true;
         } else {
           this.colorDashboard = false;
         }

         if ((this.$route.path.toLowerCase() === "/unassignsite")) {
           this.colorDashboard = true;
         } 
           // (this.$route && this.$route.path.toLowerCase() === "/home") || 
           if ((this.$route && this.$route.path.toLowerCase() === "/dashboard")) {
             this.colorHome = true;
           } else {
             this.colorHome = false;
           }
           if ((this.$route && this.$route.path.toLowerCase() === "/scholarroster/new")|| (this.$route && this.$route.path.toLowerCase() === '/scholarroster') || (this.$route && this.$route.path.toLowerCase() === "/attendance")) {
           this.colorScholar = true;
         } else {
           this.colorScholar = false;
         }
          if (this.$route.path.toLowerCase() === "/newscholar") {
           this.colorNewScholar = true;
         } else {
           this.colorNewScholar = false;
         }
    },
    storeAuthDataIndxdb(id, authToken) {
      clearAllData(APP_CONST.AUTH_DATA).then(function() {
        writeData(APP_CONST.AUTH_DATA, { id: id, authToken: authToken }).then(
          () => {
            //console.log("ui admin auth token saved..");
          }
        );
      });
    },
    getProgramDt(programId, siteId) {
      programConfigureStore
        .getProgramConfigObj(programId)
        .then((progDt) => {
          if (progDt.status === APP_CONST.RESPONSE_200) {
            this.getSiteDetails(siteId,progDt.data.sitePanels)           
            this.setCookie('isFinalSubmit', JSON.stringify(progDt.data.isFinalSubmit), 1)
            this.progName = progDt.data.programDto.name;
            this.sitePanels = progDt.data.sitePanels;
            this.programStartDate = progDt.data.programDto.startDate;
            this.programEndDate = progDt.data.programDto.endDate;
            this.setCookie("progName", this.progName, 1);
            this.setCookie("programId", programId, 1);
            this.isAppReady = true;
          }else if((!progDt.data) && (!progDt.status)){
            this.setCookie('isFinalSubmit', JSON.stringify(true), 1)
            this.isAppReady = true;
          }
        }).catch(error => {
          
        });
    },
    getSiteDetails(siteId, sitePannels)
    {      
        sitePannels.forEach((item) => {
          if(siteId === item.siteId)
            {
              this.siteDetailData  = item
            }                
          })
    },
    validateUserById(userId, authToken) {
      let parsedId = parseInt(userId);
      getUserById(parsedId).then((response) => {
        if(response.status === 200){
          let res = response.data;
          this.isAuthTokenSet = true;
              this.setCookie("auth_token", authToken, 1);
              this.setCookie("user_id", userId, 1);
              const drill_available = this.getCookie("drilldown_key");
              //Checking is super admin acess program admin
              if(this.getCookie("super_user_drilldown") || (drill_available && (JSON.parse(drill_available).actor > 0))){
                let userData = JSON.parse(APP_UTILITIES.getCookie("user_role"))
                res.userRoles = userData;
                this.showStrip = true;
              } else {
                this.setCookie("user_role", JSON.stringify(res.userRoles));
                this.showStrip = false;
              }              
              let index = 0;
              this.firstName = res.firstName;
              this.accountID = res.userRoles[0].accountId;
              res.userRoles.forEach((item, id) => {
                if (item.hasOwnProperty("programId")) {
                  index = id;
                  this.programId = item.programId;
                  // this.getProgramDt(item.programId);
                }
                 if (item.hasOwnProperty("siteId")) {
                  this.siteId = item.siteId;
                }
                if (item.hasOwnProperty("roleId")) {
                  this.roleId = item.roleId;
                  this.checkForRole();                  
                  this.checkForRoute();
                }
                if(this.roleId > APP_CONST.TWO){
                  this.getProgramDt(this.programId,this.siteId)
                }else{
                  this.setCookie('isFinalSubmit', JSON.stringify(true), 1)
                  this.isAppReady = true;
                }
                
              });
              this.userLabel = `${APP_CONST.USER_TYPE_LABEL[res.userRoles[index].roleId - 1]}`;
              this.storeAuthDataIndxdb(userId, authToken);
              this.headerToUpdate = !this.headerToUpdate;
        }else{
          this.isAuthTokenSet = false;
          window.location.href = process.env.VUE_APP_BASE_IDENTITY_REDIRECT_URL;
        }
      })
    },
    checkForRoute() {
      const drill_available = this.getCookie("drilldown_key");
        if(!this.routeOn.subHeader) {
            if(this.$route.path === '/home' && this.roleId >0 && this.roleId < 3) {
                this.routeOn.subHeader = true;
            }
        }
        // If super Admin access program Admin 
        else if(this.routeOn.subHeader && this.$route.path === '/home' && (APP_UTILITIES.getCookie("super_user_drilldown")  || (drill_available && (JSON.parse(drill_available).actor > 0))))
        {
          this.routeOn.title = '';
          this.routeOn.returnTo = '';
          this.routeOn.subHeader = false;
        }
    },
    validateToken(){
      if (APP_UTILITIES.checkBrowserStatus()) {
          let checkToken = this.getCookie("auth_token");
          let chkUserId = this.getCookie("user_id");
          if (checkToken !== undefined) {
            this.validateUserById(chkUserId, checkToken);
          }
        else {
          this.isAuthTokenSet = false;
          window.location.href = process.env.VUE_APP_BASE_IDENTITY_REDIRECT_URL;
        }
      } else {
        this.isAuthTokenSet = true;
      }
    }
  },
  beforeCreate() {
    setTimeout(() => {
      
    }, 500);
  },
  watch: {
    $route(data) {
    this.checkForRole();
         const matchedRoute = data.matched;
        //  const drill_available = this.getCookie("drilldown_key");
        for(let route of matchedRoute) {
          // Is Super Admin  Accessing Program Admin 
          // this.showStrip = (this.getCookie("super_user_drilldown") || (drill_available && (JSON.parse(drill_available).actor > 0))) ? true : false;
          this.validateToken();
                     
            if(route.props && route.props.default && (route.props.default.path === data.path)) {
                this.routeOn.title = route.props.default.title || '';
                this.routeOn.returnTo = route.props.default.returnTo || '';
                this.routeOn.subHeader = route.props.default.subHeader || false;
                break;
            } else {
                this.routeOn.title = '';
                this.routeOn.returnTo = '';
                this.routeOn.subHeader = false;
            }
        }
        this.checkForRoute();
    }
  },
  beforeMount() {
    this.validateToken();
    this.checkForRole();
  }
};
</script>




